@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin span {
    font-family: 'Playfair Display';
    color: var(--color-span-moon);
    font-style: oblique;
}
@mixin shadow-btn {
    content: '' ;
    display: block;
    width: 100%;
    height: 13px;
    background: var(--color-btn-moon);
    opacity: 50%;
    position: absolute;
    bottom: -4px;
    left: 10px;
    z-index: 1;
}
@mixin btn {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-btn-moon);
    cursor: pointer;
    background: none;
    position: relative;
    display: block;
    z-index: 2;
}
@mixin title {
    font-size: 68px;
    color:var(--color-fonts-moon);
    font-family: 'Playfair Display';
    @media (max-width: 1140px)  {
        font-size: 35px;
    }
    @media (max-width: 992px) {
        font-size: 28px;
    }
}
@mixin text {
    line-height: 1.6em;
    font-size: 18px;
    font-family: 'Lato';
    color:var(--color-fonts-moon);
    opacity: 80%;
    @media (max-width: 992px) {
        font-size: 14px;
    }
}