:root {
    --bgr-body-sun: #fff;
    --bgr-body-moon: #161926;
    --color-fonts-moon: #fff;
    --color-fonts-sun: #262A3F;
    --color-btn-moon: #53F3CD;
    --color-btn-sun: #F1897B;
    --shadow-btn-moon: #53F3CD;
    --shadow-btn-sun: #F1897B;
    --color-span-moon: #689FF2;
    --color-span-sun: #85BBB1;
    --color-line-moon: #515773;
}