.card-brg {
    margin-top: 120px;
    max-width: 566px;
    max-height: 540px;
    background: url(/img/features-background-image.png);
    padding: 100px 250px 100px 76px;
}
.trade-card {
    width: 240px;
    height: 331px;
    border-radius: 12px;
    background: var(--bgr-body-moon);
    padding: 20px 20px 15px 20px;
    display: flex;
    flex-wrap: wrap;
}
.sell-buy {
    display: flex;
    height: 24px;
    p{
        font-family: 'Lato';
        font-weight: 600;
        font-size: 14px;
        line-height: 1.6em;
        letter-spacing: 0.04em;
        color: var(--color-fonts-moon);
        opacity: 0.8;
    }
    img{
        margin-left: 6px;
        width: 18px;
        height: auto;
        opacity: 1;  
    }
}
.arrow {
    margin: 0 12px;
    width: 12px;
    height: 24px;
}
.line-card {
    width: 100%;
    height: 1px;
    background: var(--color-line-moon);
}
.rate {
    height: 60px;
    display: flex;
    padding-left: 10px;
    align-items: flex-end;
    position: relative;
}
.rate::before {
    content: 'Rate:';
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--color-line-moon);
    opacity: 0.3;   
    position: absolute;
    left: 0;
    top: 0px;
}
.rate-figure {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--color-fonts-moon);
    opacity: 0.7;
}
.rate-fraction {
    padding-left: 8px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: var(--color-fonts-moon);
    opacity: 0.9;
}
.trade-description {
    position: absolute;
    top: 30px;
    right: 0px;
    display: flex;
    width: 762px;
    height: 452px;
    flex-wrap:wrap;
    background:var(--bgr-body-moon);
    padding: 72px 64px 72px 64px;
}
.pay-receive {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    p{
        width: 100%;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: var(--color-fonts-moon);
        opacity: 0.3;
    }
    .pay-box {
        padding:  0 10px 0 10px;
        width: 94px;
        height: 28px;
        background: var(--color-line-moon);
        // opacity: 0.1;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.04em;
            color: var(--color-fonts-moon);
            opacity: 0.8;
        }
    }
}
.fees {
    width:100%; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 18px;
    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.04em;
        color: var(--color-fonts-moon);
        opacity: 0.3;
    }
    .fees-block {
        width: 51px;
        height: 17px;
        background: #fff;
        opacity: 0.06;
        border-radius: 4px;
    }
}
.exhange {
    display: flex;
    width: 50%;
    justify-content: space-between;
    .choice{
        position: relative;
        img:nth-child(2) {
            position: absolute;
            top:4px;
            left: 4px;
        }
    }
    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        opacity: 0.8;
    }
}
.wallet {
    padding-right: 15px;
    flex: 1;
    
    p {
        text-align:end;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #FFFFFF;     
        opacity: 0.3;
    }
}

.item-trade:nth-child(3) {
    align-self: flex-end;
}
.item-trade {
    width: 50%;
}
.title-trade {
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 24px;
    color: var(--color-fonts-moon);
}
.text-trade {
    margin-top: 20px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-fonts-moon);
    opacity: 0.8;
}
.btn-trade {
    align-self: flex-end;
    display: flex;
    width:308px;
    height: 94px;
    border: solid 1px var(--color-line-moon);
    label {
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.text-btn-join {
    text-align: center;
    @include btn;
}
.text-btn-join::before {
    @include shadow-btn;
}